.vs/
.vscode/
bin/
bin-int/

Engine/User
Engine/Engine/Shaders/Cache
Engine/Scripts/Intermediates
Engine/Volt-ScriptCore/Scripts/Intermediates

Volt/ProjectTemplate/Intermediates/
Volt/ProjectTemplate/Binaries
Volt/ProjectTemplate/.vs/
Volt/ProjectTemplate/*.csproj
Volt/ProjectTemplate/*.sln

Project/Intermediates/
Project/Binaries
Project/.vs/
Project/*.csproj
Project/*.sln

*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.csproj
*.csproj.user

Volt/scripts/data/__pycache__
Volt/scripts/data/premake5.exe