.vs/
.vscode/
bin/
bin-int/

Build/User
Build/Engine/Shaders/Cache
Build/Scripts/Intermediates

Volt/ProjectTemplate/Assets/Scripts/Intermediates/
Volt/ProjectTemplate/Assets/Scripts/.vs/
Volt/ProjectTemplate/Assets/Scripts/*.csproj
Volt/ProjectTemplate/Assets/Scripts/*.sln

*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.csproj

Volt/scripts/data/__pycache__
Volt/scripts/data/premake5.exe