.vs/
.idea/
.vscode/
.idea/
bin/
bin-int/

Engine/User
Engine/Engine/Shaders/Cache
Engine/Scripts/Intermediates
Engine/Volt-ScriptCore/Scripts/Intermediates
Engine/MonoDebugger.log
Engine/Log

Volt/ProjectTemplate/Intermediates/
Volt/ProjectTemplate/Binaries
Volt/ProjectTemplate/.vs/
Volt/ProjectTemplate/*.csproj
Volt/ProjectTemplate/*.sln

Project/Intermediates/
Project/Binaries
Project/.vs/
Project/*.csproj
Project/*.sln
Project/Log
Project/Cache
Project/Generated

*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.csproj
*.csproj.user
*.cached
*.dmp

!SideProjects/VoltLauncher/VoltLauncher.sln
!SideProjects/VoltLauncher/VoltLauncher/VoltLauncher.csproj

!SideProjects/VoltSetup/VoltSetup.sln
!SideProjects/VoltSetup/VoltSetup/VoltSetup.vcxproj

!SideProjects/VoltVSTools/VoltVSTools.sln
!SideProjects/VoltVSTools/VoltVSTools/VoltVSTools.csproj

Volt/scripts/data/__pycache__
Volt/scripts/data/premake5.exe

Volt/Volt/vendor/efsw/lib
Volt/Volt/vendor/efsw/obj

*.scor
*.gbl
*.incl